body {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.flexgible-containet {
  display: flex;
  padding-bottom: 150px;
}

#low-padding {
  padding-bottom: 50px;
}

.half-width {
  width: 50%;
  padding-left: 80px;
}
.text-aline {
  padding-top: 5%;
}
.half-width img {
  width: 80%;
}

.nice-button {
  text-decoration: none;
  position: relative;
  top: 50px;
  background-image: linear-gradient(rgb(219, 158, 88), tomato);
  padding: 10px 40px;
  border-radius: 20px;
  color: white;
  font-weight: 700;
}

#seckend-img {
  padding-top: 5%;
  padding-left: 25%;
  width: 60%;
}
.my-bio-area {
  background-image: url(./images/shapes/7.png);
  background-repeat: no-repeat;
}

.racipies-blog {
  text-align: center;
  margin-bottom: 100px;
}
.racipies-food img {
  width: 100%;
}

.racipies-food {
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 40px gray;
}

.footer-section {
  text-align: center;
  background-color: rgb(37, 34, 39);
  height: 150px;
  padding-top: 5px;
}

.footer-section p {
  color: aliceblue;
}
